html, body, #root {
  height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1 0 auto;
}

.footer {
  flex-shrink: 0;
}

.media:hover {
  transform: scale(1.1);
  transition: transform 0.5s ease-in;
}

.btn:hover {
  background: #855374 !important;
}

a:hover {
  cursor: pointer;
  text-decoration: underline;
}
